.cart-top > *:first-child,
.payment-top > *:first-child,
.order-top > *:first-child {
    font-size: x-large;
    font-weight: bold;
}

.item-table {
    width: 1280px;
    display: grid;
    border: 1px solid rgba(1, 1, 1, 0.1);
    background-color: white;
}

.item-table-header {
    background: linear-gradient(to bottom, rgba(1, 1, 1, 0.005), transparent);
}

.item-table-header > *, .item-table-footer > * {
    font-weight: bolder;
}

.item-table > * {
    border-bottom: 1px solid rgba(1, 1, 1, 0.05);
    padding: 30px;
}

.item-table-footer {
    background: linear-gradient(to bottom, rgba(1, 1, 1, 0.005), transparent);
}

.item-table-footer > *:first-child {
    font-size: large;
}

.item-table-footer > *:last-child {
    font-size: x-large;
    background: linear-gradient(to top, gold 50%, transparent 50%);
}

.cart-item {
    box-shadow: 0 0px 3px rgba(1, 1, 1, 0.05);
}

.cart-list > * {
    display: grid;
    grid-template-columns: 25% 20% 20% 10% 20% 5%;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.cart-state-empty {
    grid-column-start: 1;
    grid-column-end: 6;
}

.cart-item-quantity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.cart-header > *:first-child, .cart-item > .cart-item-detail {
    justify-self: center;
    grid-column-start: 1;
}

.cart-header > *:first-child, .cart-item-option {
    grid-column-end: 4;
}

.cart-item-option {
    display: grid;
    column-gap: 20px;
    justify-self: left;
    justify-items: left;
    align-items: center;
    grid-column-start: 2;
    row-gap: 2px;
}

.cart-item-option > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: left;
    align-items: center;
    width: 100%;
    padding: 10px 100px 10px 20px;
    border-bottom: 1px solid rgba(1, 1, 1, 0.05);
}

.cart-item-option > div > *:last-child {
    justify-self: end;
}

.item-option-label {
    padding: 5px 10px 5px 10px;
    border: 1px solid rgba(1, 1, 1, 0.5);
    border-radius: 10%;
    background-color: rgba(1, 1, 1, 0.05);;
}

.cart-item-option > * {
    font-size: small;
}

.cart-item-detail {
    display: grid;
    text-align: left;
    justify-items: left;
    align-items: center;
    column-gap: 50px;
}

.cart-item-discard:after {
    display: inline-block;
    content: "\00d7";
    font-weight: 200;
    font-size: xx-large;
    color: gray;
    padding: 20px;
}

.cart-item-discard:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.cart-total > *:first-child {
    grid-column-start: 4;
}

.cart-item {
    background-color: white;
}

.cart-confirm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: right;
    align-items: center;
    gap: 20px;
}

.cart-confirm > * {
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    transition: 0.3s;
    border: solid 1px gainsboro;
}

.cart-confirm > *:hover {
    background: gold;
    color: white;
}

.adjust-quantity {
    padding: 5px 10px 5px 10px;
    justify-self: center;
    background-color: rgba(1, 1, 1, 0.05);
    border: solid 1px gray;
    transition: 0.3s;
}

.adjust-quantity:hover {
    background-color: gold;
    cursor: pointer;
}