.cart-top > *:first-child,
.payment-top > *:first-child,
.order-top > *:first-child {
    font-size: x-large;
    font-weight: 700;
    background: linear-gradient(to top, gold 50%, transparent 50%);
}

.cart-list {
    width: 1280px;
    display: grid;
    background-color: rgba(252, 252, 252);
}

.cart-list > * {
    display: grid;
    grid-template-columns: 25% 20% 20% 10% 20% 5%;
    text-align: center;
    padding: 30px;
}

.cart-state-empty {
    grid-column-start: 1;
    grid-column-end: 6;
}

.cart-figure button {
    font-size: medium;
    font-weight: 700;
    background: none;
    border: none;
    transition: 0.1s;
}

.cart-figure button:hover {
    cursor: pointer;
}

.cart-figure-quantity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.cart-header,
.cart-total {
    font-weight: 700;
    font-size: larger;
}

.cart-total > *:nth-child(2) {
    grid-column-start: 5;
}

.cart-header {
    border-bottom: solid 1px #fafafa;
}

.cart-total {
    border-top: solid 1px #fafafa;
}

.cart-figure {
    background: white;
}

.cart-confirm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: right;
    align-items: center;
    gap: 20px;
}

.cart-confirm > * {
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    transition: 0.3s;
    border: solid 1px gainsboro;
    font-size: large;
}

.cart-confirm > *:hover {
    background: gold;
    color: white;
}

.adjust-quantity {
    padding: 5px 10px 5px 10px;
    justify-self: center;
    background-color: white;
    border: solid 1px gray;
    transition: 0.3s;
}

.adjust-quantity:hover {
    background-color: gold;
    cursor: pointer;
}