.cart-top > *:first-child,
.payment-top > *:first-child,
.order-top > *:first-child {
    font-size: x-large;
    font-weight: 700;
    background: linear-gradient(to top, gold 50%, transparent 50%);
}

.cart-list {
    width: 1280px;
    display: grid;
    background-color: rgba(252, 252, 252);
}

.cart-list > * {
    display: grid;
    grid-template-columns: 30% 30% 15% 20% 5%;
    text-align: center;
    font-size: large;
    padding: 30px;
}

.cart-state-empty {
    grid-column-start: 1;
    grid-column-end: 5;
}

.cart-figure button {
    font-size: medium;
    font-weight: 700;
    background: none;
    border: none;
    transition: 0.1s;
}

.cart-figure button:hover {
    cursor: pointer;
}

.cart-figure-quantity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cart-header,
.cart-total {
    font-weight: 700;
    font-size: larger;
}

.cart-total > *:nth-child(2) {
    grid-column-start: 4;
}

.order-info {
    display: grid;
    gap: 20px;
    background-color: rgba(252, 252, 252);
}

.order-info > * {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: center;
    align-items: center;
    gap: 10px;
    padding: 30px 0 30px 0;
}

.order-info > * > input, textarea {
    width: 50%;
    background: white;
    border: solid 1px darkgray;
    text-align: center;
    padding: 10px;
}

.order-info > * > input[type=password]:disabled {
    color: white;
    background-color: gainsboro;
}

.order-info > * > textarea {
    resize: none;
}

.order-info > * > *:first-child {
    font-size: large;
    font-weight: bold;
}

.order-info > * > *:nth-child(2) {
    font-size: large;
}

.order-info > * > span:last-child {
    grid-column-start: 2;
    font-size: small;
}

.order-confirm {
    display: grid;
    gap: 10px;
    align-items: center;
}

.order-confirm-button {
    padding: 10px 20px 10px 20px;
    font-size: large;
    font-weight: 700;
    border: none;
    transition: 0.3s;
}

.order-confirm-button:enabled:hover {
    background-color: gold;
    color: white;
    cursor: pointer;
}

.adjust-quantity {
    padding: 5px 10px 5px 10px;
    justify-self: center;
    background-color: white;
    border: solid 1px gray;
    transition: 0.3s;
}

.adjust-quantity:hover {
    background-color: gold;
    cursor: pointer;
}

.adjust-quantity.plus:after {
    content: '\2212';
    font-size: large;
}

.adjust-quantity.minus:after {
    content: '\002B';
    font-size: large;
}