@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100&family=Reenie+Beanie&family=Sassy+Frass&family=Song+Myung&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body * {
    margin: 0;
    font-family: 'nanumsquare', cursive;
    font-weight: 400;
}

.common {
    display: grid;
    justify-content: center;
    gap: 50px;
}

.common.top {
    padding: 50px 0 50px 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    margin-bottom: 50px;
}

.common-nav {
    text-align: center;
}

.common-nav {
    width: 1280px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.common-nav > * {
    width: 50%;
    transition: 0.3s;
}

.common-nav > *:hover {
    cursor: pointer;
    box-shadow: 0 5px 0 rgba(255, 215, 0, 1);
}

.common-nav > *:nth-child(4) {
    grid-column-start: 8;
}

.common-nav > *:last-child {
    grid-column-start: 9;
}

.common-nav-logo {
    font-weight: bold;
}

.common-nav-logo:hover {
    cursor: default;
    box-shadow: none;
}

.nav-description {
    font-size: small;
}
