.order-container {
    display: grid;
    gap: 50px;
    justify-items: stretch;
    align-items: stretch;
}

.order-container > * {
    display: grid;
    gap: 20px
}

.payment-list {
    display: grid;
    align-items: center;
}

.payment-list > * {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 50px;
    align-items: center;
}

.payment-type > *:first-child {
    font-weight: bold;
}

.order-list > * {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.order-item-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.order-item-option {
    display: grid;
    gap: 10px;
    justify-items: center;
    align-items: center;
    font-size: small;
}

.order-item-option > div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: left;
    align-items: center;
}

.order-top {
    display: grid;
    justify-items: left;
    gap: 10px;
}

.order-customer > * {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.order-customer > * > input, textarea {
    width: 50%;
    background: white;
    border: solid 1px darkgray;
    text-align: center;
    padding: 10px;
}

.order-customer > * > input[type=password]:disabled {
    color: white;
    background-color: gainsboro;
}

.order-customer > * > textarea {
    resize: none;
}

.order-customer > * > *:first-child {
    font-weight: bold;
}


.order-customer > * > span:last-child {
    grid-column-start: 2;
    font-size: small;
}

.order-confirm {
    display: grid;
    gap: 10px;
    align-items: center;
}

.order-confirm-button {
    padding: 10px 20px 10px 20px;
    font-weight: 700;
    border: none;
    transition: 0.3s;
}

.order-confirm-button:enabled:hover {
    background-color: gold;
    color: white;
    cursor: pointer;
}

.payment-checkbox {
    margin-right: 15px;
}